body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.title {
  margin: 20px;
}

.button {
  width: 100px;
  height: 50px;
  margin: 2px;
}

.input {
  width: 200px;
  height: 20px;
}
